from __future__ import absolute_import
import os

from setuptools import setup
import distutils.command.sdist

import setuptools.command.sdist

# Patch setuptools' sdist behaviour with distutils' sdist behaviour
setuptools.command.sdist.sdist.run = distutils.command.sdist.sdist.run

version_info = {}
cwd=os.path.abspath(os.path.dirname(__file__))
with open(os.path.join(cwd, "${name}", "_version.py")) as f:
    exec(f.read(), version_info)

dist = setup(
    # Package name:
    name="${name}",

    # Version number:
    version=version_info["__version__"],

    # Requirements
    install_requires=[${installRequires}
    ],

    # Package author details:
    author="",

    # License
    license="",

    # Keywords
    keywords=[],

    # Packages
    packages=[
        "${name}",
        "${name}._config",
        "${name}._config.sample"${packages}],

    package_data={
        "${name}._config.sample" : ['*']${package_data}},

    # Details
    url="",

    description="",

    long_description=open('README').read(),

    classifiers=[
        "Programming Language :: Python"
    ],
)
