import logging

from dxlclient.callbacks import RequestCallback
from dxlclient.message import Response
from dxlbootstrap.util import MessageUtils


# Configure local logger
logger = logging.getLogger(__name__)


