###############################################################################
## Application
###############################################################################

[Application]
name=krisapp
fullName=Kris' Cool Application
appClassName=KrisApp
copyright=Copyright 2017, SpecialK, Inc.
eventHandlers=event1, event2
services=service1
installRequires=requests,urllib3

###############################################################################
## Event Handlers
###############################################################################

[event1]
topic=/specialk/event1
className=Event1Callback
separateThread=yes

[event2]
topic=/specialk/event2
className=Event2Callback
separateThread=yes

###############################################################################
## Services
###############################################################################

[service1]
serviceType=/specialk/service1
requestHandlers=service1callback

[service1callback]
topic=/specialk/service1
className=Service1Callback
separateThread=yes

