###############################################################################
## Client
###############################################################################

[Client]
# The name of the client (will be used for the Python package name)
name=myclient
# The full name of the client
fullName=My DXL Client
# The name of the client class (Python class name)
clientClassName=MyClient
# Copyright information for the client (optional)
copyright=Copyright 2018
# A comma delimited list of Python packages the client requires.
# These packages will be added to the appropriate files (setup.py, etc.)
# (optional)
;installRequires=
# A comma delimited list of Python language versions that the client requires.
# This is used to control the version information used in the generated
# packaging and documentation files. If the client supports "all" language
# versions that the underlying OpenDXL Python client package supports --
# including Python 2.x and 3.x -- a single value of "universal" can be used.
# (optional, defaults to "2.7.9")
;languageVersions=universal
# Whether to include an example method in the client class that demonstrates
# wrapping a DXL service invocation
# (optional, defaults to "yes")
;includeExampleMethod=yes
