###############################################################################
## Client
###############################################################################

[Client]
# The name of the client (will be used for the Python package name)
name=myclient
# The full name of the client
fullName=My DXL Client
# The name of the client class (Python class name)
clientClassName=MyClient
# Copyright information for the client (optional)
copyright=Copyright 2017
# A comma delimited list of Python packages the client requires.
# These packages will be added to the appropriate files (setup.py, etc.)
# (optional)
;installRequires=
# Whether to include an example method in the client class that demonstrates
# wrapping a DXL service invocation
# (optional, defaults to "yes")
;includeExampleMethod=yes
