###############################################################################
## Client
###############################################################################

[Client]
# The name of the client (will be used for the Python package name)
name=myclient
# The full name of the client
fullName=My DXL Client
# The name of the client class (Python class name)
clientClassName=MyClient
# Copyright information for the client (optional)
copyright=Copyright 2018
# A comma delimited list of Python packages the client requires.
# These packages will be added to the appropriate files (setup.py, etc.)
# (optional)
;installRequires=
# The Python language version that the application requires. This is used to
# control the version information in the generated packaging and documentation
# files. Specify "2" (for Python 2.x only), "3" (for Python 3.x only), or
# "universal" (for both Python 2.x and Python 3.x).
# (optional, defaults to "2")
;languageVersion=2
# Whether to include an example method in the client class that demonstrates
# wrapping a DXL service invocation
# (optional, defaults to "yes")
;includeExampleMethod=yes
