# Invoke the example method
resp_dict = client.my_example_method()

# Print out the response (convert dictionary to JSON for pretty printing)
print("Response:\n{0}".format(
    MessageUtils.dict_to_json(resp_dict, pretty_print=True)))
